#!/bin/bash


# 1000/(c*N_a) = V[l];
# 1000/(c*N_a) * 10^24 = V[nm^3]
# (1000/(c*0.6022))^1/3 = boxlen[nm]
# c = 1 --> boxlen= 11.84186
wtype='SDKW'
jobname='SDK_1M'
M=3
# M=1 -> 1molar, M=2 -> 0.363 molar, M=3 -> 0.13molar
if [ $M -eq 1 ];
then
    water_r=0.1675
    bl=11.82209 
    nmol=1000
fi
if [ $M -eq 2 ];
then
    water_r=0.156
    bl=16.6 # 0.363M
    nmol=1000
fi
if [ $M -eq 3 ];
then
    water_r=0.1557
    bl=18.554 # 0.13M
    nmol=500
fi


press=1.0
cs='sdkwater.gro'

temp=303.15
Dielectric=80.00
ci='SDS_SDK.pdb'
pname='NA'
topo='../topo/topol.top'

cd initial_config 

gmx insert-molecules -box $bl $bl $bl -ci $ci -nmol $nmol -o solute_only.gro -seed 0

echo 'SDS    '${nmol} >> $topo

gmx solvate -cp solute_only.gro -radius $water_r -o solvated.gro -cs $cs -p $topo 

gmx grompp -f dummy.mdp -o dummy.tpr -c solvated.gro -p $topo

gmx genion -np $nmol -pname $pname -seed 0 -s dummy.tpr -p $topo -o confout.gro << EOF
SOL
EOF

gmx grompp -f dummy.mdp -o dummy_full.tpr -c confout.gro -p $topo

cd ..

gmx make_ndx -f initial_config/dummy_full.tpr -o index_run.ndx <<EOF
t SDKSO4
t SDKCM
t SDKCT
t SDKSOD
t $wtype
q
EOF

cd em
cp em.mdp.example em.mdp

sed -i s/DIELECTRIC/$Dielectric/g em.mdp
sed -i s/WTYPE/$wtype/g em.mdp

gmx grompp -f em.mdp -c ../initial_config/confout.gro -n ../index_run.ndx -p $topo 
gmx mdrun -v -s topol.tpr

cd ..


gmx make_ndx -n index_run.ndx -o index_run.ndx -f em/topol.tpr << EOF
t SDKSOD | t $wtype
q
EOF


cd eq_npt
cp npt_eq.mdp.example npt_eq.mdp

sed -i s/DIELECTRIC/$Dielectric/g npt_eq.mdp
sed -i s/WTYPE/$wtype/g npt_eq.mdp
sed -i s/TEMP/$temp/g npt_eq.mdp
sed -i s/PRESS/$press/g npt_eq.mdp

gmx grompp -f npt_eq.mdp -c ../em/confout.gro -n ../index_run.ndx -p $topo
gmx mdrun -v  -s topol.tpr 

cd ..

cd npt
cp npt.mdp.example npt.mdp
cp thomas_cont.sh ${jobname}.sh

sed -i s/DIELECTRIC/$Dielectric/g npt.mdp
sed -i s/WTYPE/$wtype/g npt.mdp
sed -i s/TEMP/$temp/g npt.mdp
sed -i s/PRESS/$press/g npt.mdp

sed -i s/JOBNAME/$jobname/g ${jobname}.sh

gmx grompp -f npt.mdp -c ../eq_npt/confout.gro -t ../eq_npt/traj.trr -n ../index_run.ndx -p $topo
gmx mdrun -v -nsteps 10000 -s topol.tpr

