from clustercode import ClusterEnsemble
from mkutils import save_to_file, create_fig
import sys, os 
import numpy as np
import pickle 
cluster_objects='C1 C2 C3 C4'
eq = False

# +
if eq:
    traj = os.path.join('..','npt', 'traj_cut.trr')
    tpr = os.path.join('..', 'npt', 'topol.tpr')
else:
    traj = os.path.join('..','npt', 'traj.trr')
    tpr = os.path.join('..', 'npt', 'topol.tpr')
ensemble = ClusterEnsemble(tpr, traj, cluster_objects)
ensemble.cluster_analysis(cut_off=6.5)

rgyr_list = []

for clusterlist in ensemble.cluster_list:
    time = ensemble.universe.trajectory.time
    for cluster in clusterlist:
        if cluster.n_residues > 4:
            ensemble.unwrap_cluster(cluster)
            rgyr = ensemble.rgyr(cluster, components=True)
            rgyr_list.append([time, cluster.n_residues, *rgyr, rgyr[1]-0.5*(rgyr[2]+rgyr[3])])



# -



with open('save.pkl', 'wb') as f:
    pickle.dump(ensemble.cluster_sizes, f)
    pickle.dump(np.asarray(rgyr_list))




