from clustercode import ClusterEnsemble
from mkutils import save_to_file, create_fig
import sys, os 
import numpy as np
import pickle 
cluster_objects='C1 C2 C3 C4'
eq = False

if eq:
    traj = os.path.join('..','eq_npt', 'traj.trr')
    tpr = os.path.join('..', 'eq_npt', 'topol.tpr')
else:
    traj = os.path.join('..','npt', 'traj_cut.xtc')
    tpr = os.path.join('..', 'npt', 'topol.tpr')
ensemble = ClusterEnsemble(tpr, traj, cluster_objects)
ensemble.cluster_analysis(cut_off=6.5)



# +
fig, ax = create_fig(1,1)
ax = ax[0]
ax.set_title('Saft: SDS in W2 at 1 mol/l', fontsize=16)
ensemble.plot_histogram(ax, maxbins=False, density=True, frames=[(1,30,1), (31, 420, 1), (421, 515, 1)],
                        **{'label': ['1 - 30 ns', '31 - 420 ns', '421 - 515 ns']}
                       )
ax.legend()

save_to_file('histogram')
# -

for cluster in ensemble.cluster_sizes:
    print(sorted(cluster))



