from clustercode import ClusterEnsemble
from mkutils import save_to_file, create_fig
import sys, os 
import numpy as np
import pickle 
cluster_objects='C1 C2 C3 C4'
eq = False

if eq:
    traj = os.path.join('..','eq_npt', 'traj.trr')
    tpr = os.path.join('..', 'eq_npt', 'topol.tpr')
else:
    traj = os.path.join('..','npt', 'traj.trr')
    tpr = os.path.join('..', 'npt', 'topol.tpr')
ensemble = ClusterEnsemble(tpr, traj, cluster_objects)
ensemble.cluster_analysis(cut_off=7.5)


fig, ax = create_fig(1,1)
ax = ax[0]
ensemble.plot_histogram(ax, maxbins=True, density=False)
save_to_file('histogram')

# +
'''
f32, f21 = [], []
for clusters in ensemble.cluster_list:
    for cluster in clusters:
        if len(cluster) > 5:
            ensemble.unwrap_cluster(cluster, unwrap=True)
            f32i, f21i = ensemble.calc_f_factors(cluster)
            f32.append(f32i)
            f21.append(f21i)
fig, ax = create_fig(1,1)
ax = ax[0]

ax.plot(f32, f21, ls='', marker='o', alpha=0.2, color='k')
ax.set_xlim(0,1)
ax.set_ylim(0,1)
'''
# -



