#include "saftv1.ff/forcefield_defaults.itp"
#include "saftv1.ff/ffnonbonded_wca_v2_303K.itp"
#include "saftv1.ff/ffbonded.itp"
#include "saftv1.ff/ions.itp"
#include "saftv1.ff/cgw_ift.itp"

[ moleculetype ] ; Name nrexcl
S6S 3
[ atoms ] 
; nr type   resnr resid atom cgnr charge  mass 
  1  SO4v9  1     S6S   SU   1    -1.00   96.060
  2  CM     1     S6S   C1   2    0.000   42.079  
  3  CT     1     S6S   C2   5    0.000   43.087

[ bonds ] 
; ai aj fu c0, c1, ... 
1       2         1        0.41520   8943.37
2       3         1        0.43426   5542.11

[ angles ] ; ai aj ak fu c0, c1, ... 
3        2        1         1       159      18.59


[system]
S6S molecules self-assembling in water

[molecules]

